/*
File: child.css
Author: Jonathan Kissam, jk@webskillet.com

This file includes overwrites for the font, color and spacing properties you'll most likely want to override from the webskillet15 parent theme.  Otherwise, it is mostly an empty table of contents

Table of contents:
1. Framework
2. Typography
 2.1 Body
 2.2 Headers
 2.3 Text
 2.4 Lists
 2.5 Links
 2.6 Images
 2.7 Tables
 2.8 Forms
3. Header
4. Navigation
5. Highlighted
6. Content
 6.1 Messages
 6.2 Admin tabs
 6.3 Nodes
 6.4 Fields
 6.5 Profiles
 6.6 Comments
 6.7 content formatting for specific pages
 6.7.1 search form & search results page
7. Sidebars
8. Pre-footers and Footer
9. Media Queries (replicate same structure)
10. IE Fixes
*/

/**
 * 1. Framework
 */

#header-wrapper, #navigation-wrapper, #main-wrapper, #footer-wrapper { padding-top: 10px; padding-bottom: 10px; }
.container { max-width: 980px; }
div#main-wrapper {
  padding-top: 0;
}
div#main {
  background-color: rgb(247, 247, 247);
  padding-top: 20px;
}

/**
 * 2. Typography
 */

/* 2.1 Body */
body { color: #333; font: 93.75%/1.6em Arial, Helvetica, 'Helvetica Neue', sans-serif; }

/* 2.2 Headers */
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 1em; font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.333em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.066em; font-weight: bold; }
h5, h6 { font-size: 0.8em; font-weight: bold; margin-bottom: 0; }

/* 2.3 Text */

/* 2.4 Lists */

/* 2.5 Links */
a { text-decoration: none; }
a:link { color: #44889f; }
a:visited { color: #44889f; }
.no-touch a:hover { color: #0099BE; }
a:active { color: #44889f; }

/* 2.6 Images */

/* 2.7 Tables */

/* 2.8 Forms */
.form-item .description, .filter-guidelines { color: #999; }
input, select, textarea { border: 1px solid #ccc; color: #333; font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; box-shadow: 0 1px 1px #eee inset; -moz-box-shadow: 0 1px 1px #eee inset; -webkit-box-shadow: 0 1px 1px #eee inset; }
input:focus, select:focus, textarea:focus { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-color: #333; }
fieldset { border-color: #ccc; }
.page-checkout fieldset { background-color: rgb(248, 246, 249); }
legend { font: 1.333em Arial,Helvetica,'Helvetica Neue',sans-serif; color: white; background-color: rgb(51, 51, 51); border: 1px solid #ccc; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
legend a:link { color: white; }
.no-touch legend a:hover { color: lightgrey; }
.form-type-checkbox label, .form-type-radio label { color: #999; }
input.form-checkbox:checked + label, input.form-radio:checked + label { color: #333; }
input[type="submit"], button, a.button {
  background: #0099BE; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099BE', endColorstr='#0088A9');
  background: -webkit-gradient(linear, left top, left bottom, from(#0099BE), to(#0088A9));
  color: white;
  text-shadow: none;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: #00A6CE;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A6CE', endColorstr='#0099BE');
  background: -webkit-gradient(linear, left top, left bottom, from(#00A6CE), to(#0099BE));
  background: -moz-linear-gradient(top,  #00A6CE,  #0099BE);
  color: white;
}
#block-webform-client-block-372 input[type="submit"], #block-webform-client-block-372--2 input[type="submit"] {
	background: #00B874;
	background: -webkit-gradient(linear, left top, left bottom, from(#00B874), to(#00A266));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B874', endColorstr='#00A266'); }
#block-webform-client-block-372 input[type="submit"]:hover, #block-webform-client-block-372--2 input[type="submit"]:hover {
  background: #00A266;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A266), to(#00A266));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A266', endColorstr='#00A266');
}
div.error, .error { color: #cc0000; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
#modalContent span#modal-title { display: none; }

/* user/register forms */
@media screen and (min-width: 768px) {
ul.primary { height: 25px; }
ul.primary li a {
  border-radius: 8px 8px 0 0;
  background-color: #222;
  border: none;
  padding: 4px 0.75em 5px;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  color: grey;
  position: relative;
  top: 1px;
}
ul.primary li.active a {
  background-color: #222;
  border: none;
  border-radius: 2px 2px 0 0;
  color: white;
  padding: 6px;
  top: 0;
}
ul.primary li:first-child a {
  padding-right: 13px;
  padding-left: 13px;
}
.no-touch ul.primary li a:hover {
  background-color: #222;
  border: none;
  color: white;
}
}
#page-user-register fieldset legend { display: none; border: none; }
#page-user-register fieldset { border: none; }
#page-user-register .crm-container .crm-section .label { float: none; text-align: left; }
#page-user-register .crm-container .crm-section .content { margin-left: 0; }
#page-user-register div#editrow-first_name { margin-bottom: 10px; }
#page-user-register div#profilewrap14 input { height: 23px; }

/* checkout forms */
fieldset#edit-youth-webform-civi-chkpane { margin-top: 5px; }
.page-checkout-review h1#page-title, .page-checkout-review .checkout-help, fieldset#edit-youth-webform-civi-chkpane > legend { display: none; }

/* banner search form */
#search-block-form--2 { position: relative; }
#search-block-form--2 input.search { padding: 5px 20px 5px 5px; max-width: none; margin: 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#search-block-form--2 input.form-submit { position: absolute; top: 4px; right: 5px; }

/**
 * 3. Header
 */
#header-wrapper, #navigation-wrapper { padding: 0; }
#header, #navigation { background-color: #222; color: #ffe; }
#header { padding-top: 20px; }
#header a, #header a:link { color: lightgrey; }
#header a:hover { color: white; }

/* Social Links */
#block-block-2 ul { margin: 0; }
#block-block-2 ul li { display: inline; margin-left: 7px; }
#block-block-2 ul li:first-child { margin: 0; }
#block-block-2 li a { background-color: grey; border-radius: 30px; display: inline-block; width: 30px; height: 30px; }
#block-block-2 li:first-child a { background-color: #00B874; }
#block-block-2 li:nth-child(2) a { background-color: #DF1A3D; }
#block-block-2 li:nth-child(3) a { background-color: #81BC00; }
#block-block-2 li:nth-child(4) a { background-color: #0099BE; }
#block-block-2 li:nth-child(5) a { background-color: #ED7800; }
#block-block-2 ul li:first-child img { position: relative; top: 5px; left: 5px; }
#block-block-2 ul li:nth-child(2) img { position: relative; top: 6px; left: 10px; }
#block-block-2 ul li:nth-child(3) img { position: relative; top: 5px; left: 8px; }
#block-block-2 ul li:nth-child(4) img { position: relative; top: 6px; left: 8px; }
#block-block-2 ul li:nth-child(5) img { position: relative; top: 7px; left: 6px; }
#block-block-2 li:nth-child(2) a { position: relative; top: 2px; }

p#tagline { font-family: 'Coming Soon', cursive; font-size: 1.2em; text-transform: lowercase; }

@media screen and (max-width: 767px) {
  .region-header .block { margin-bottom: 10px; }
}
@media screen and (min-width: 768px) {
  #header { margin-top: 10px; height: 120px; padding-left: 25px; }
  .region-logo { width: 330px; position: absolute; top: 32px; }
  p#tagline { position: absolute; width: 155px; left: 370px; top: 30px; }
  .region-header { position: absolute; right: 25px; }
  #block-block-2 { position: relative; top: 5px; }
  #block-search-form { position: relative; top: 19px; }
  #block-block-3 { position: relative; top: 30px; text-align: center; }
}
@media screen and (min-width: 992px) {
  #header { height: 145px; }
  .region-logo { width: 483px; top: 25px; }
  p#tagline { left: 550px; font-size: 1.4em; width: 187px; top: 49px; }
  .region-header {  }
}


/**
 * 4. Navigation
 */

#navigation li ul.main-menu li { line-height: 40px; }

/* om-maximenu */
.om-maximenu-content { color: #CCC; }
.om-maximenu-content a { color: white; }
.om-maximenu-content a:hover { color: #CCC; }
.om-maximenu-content a.active { color: #CCC; }
.om-maximenu-content li, .om-maximenu-content p { font-size: 1.1em; }
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf,
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf .om-link { min-height: 40px; }
.om-maximenu-no-style .om-maximenu-middle-right { padding: 1em; }
.om-maximenu select {
  background-color: rgb(16, 16, 16);
  color: white;
  border-color: black;
  box-shadow: 0 1px 1px rgb(174, 174, 174);
}
.om-maximenu h3 { margin: 0; }
.om-maximenu .field-name-field-cta-description { margin: 0; }
.om-maximenu input[type="submit"] { margin: 0; }
.om-maximenu .form-item { margin: 1em 0; }
.om-maximenu p { line-height: 1.5em; }
@media screen and (max-width: 767px) {
  #navigation h2.navigation-header.expanded { margin-bottom: 10px; }
  #navigation { padding-bottom: 5px; }
  i.fa.fa-bars { margin-right: 3px; }
  .om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf .om-link { min-height: 15px; height: 15px; }
  .om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf .om-maximenu-content li { line-height: 30px; }
}
@media screen and (min-width: 768px) {
.om-maximenu-no-style .om-maximenu-middle { background: rgba(0, 0, 0, 0.85); }
	.om-maximenu-no-style .leaf-about .om-maximenu-middle { border-bottom: solid 5px #0099BE; }
	.om-maximenu-no-style .leaf-membership .om-maximenu-middle { border-bottom: solid 5px #81BC00; }
	.om-maximenu-no-style .leaf-programs .om-maximenu-middle { border-bottom: solid 5px #DF1A3D; }
	.om-maximenu-no-style .leaf-initiatives .om-maximenu-middle { border-bottom: solid 5px #00B874; }
	.om-maximenu-no-style .leaf-voice .om-maximenu-middle { border-bottom: solid 5px #ED7800; }
	.om-maximenu-no-style .leaf-allies .om-maximenu-middle { border-bottom: solid 5px #0099BE; }
  li.om-leaf.open { background-color: black; }
}
.om-link { text-transform: uppercase; }

@media screen and (min-width: 768px) {
	#navigation-wrapper, #navigation { height: 44px; }
  #navigation { padding-left: 10px; }
	#navigation ul { /*height: 40px;*/ line-height: 40px; }
	#navigation ul.main-menu li { margin: 5px 0; padding: 0; height: 30px; line-height: 30px; }
	#navigation ul.main-menu li a { padding: 0 1em; }
	#navigation ul.main-menu li.first a { padding-left: 0; }
	#navigation ul.main-menu li.first { border-left: 0; }

	/* Handles drop-down menus
	top-margin = bottom-margin of parent li; top = height of parent li - top-margin */
	#navigation li ul.main-menu { top: 25px; width: 200px; margin: 5px 0 0; padding: 0.5em; background: #fff; }
	#navigation li ul.main-menu li a, #navigation li ul.main-menu li.first a { padding: 5px 0.5em; }

	/* om-maximenu */
	.om-maximenu ul.om-menu { height: 40px; line-height: 40px; }
	.om-maximenu ul.om-menu li.om-leaf .om-link { padding: 9px 15px 5px 15px; }
	.om-maximenu ul.om-menu li.om-leaf.first .om-link { padding-left: 15px; }
	.om-maximenu-no-style .om-maximenu-content { top: 44px; }
}
.om-maximenu-content .block .content.collapsed { display: block; }

/**
 * 5. Highlighted
 */

/**
 * 6. Content
 */
/* Homepage */
section#block-wssf-1 {
  /*border: solid 1px rgb(34, 34, 34)/*rgb(0, 153, 190)/rgb(200, 200, 200);
  border-radius: 5px;*/
}
/*#block-wssf-1 h2 {
  background-color: rgb(34, 34, 34)/*(0, 153, 190)/*rgb(200, 200, 200);
  padding: 5px;
  margin: 0;
	color: white;
}*/
li.wssf-fb-post {
  background-color: white;
  margin: 40px 0;
  border: solid 1px lightgrey;
  border-left: none;
  border-right: none;
}
.fb-post-content { padding: 10px; }
li.wssf-fb-post h3 {
  background-color: black;
  color: silver;
  padding: 5px 10px;
  font-size: 1.1em;
}
li.wssf-fb-post p {
  margin-bottom: .7em;
}
li.wssf-fb-post:first-child { margin-top: 0; }
#block-wssf-1 .more-link { padding: 5px; }
p.wssf-fb-description { display: none; }

/*section#block-webform-client-block-372 {
  border: solid 2px rgb(99, 99, 99);
  border-radius: 6px;
}*/
#block-webform-client-block-372--2 h2, #block-webform-client-block-372 h2 {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 7px;
  margin: 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#block-webform-client-block-372--2 fieldset, #block-webform-client-block-372 fieldset {
  margin: 0;
	background-color: white;
  }
#block-webform-client-block-372--2 .form-actions, #block-webform-client-block-372 .form-actions { text-align: right; }
#block-webform-client-block-372--2 input[type="submit"], #block-webform-client-block-372 input[type="submit"] { margin-right: .625em; }

/* Doesn't work - needs https://github.com/kevinburke/customize-twitter-1.1
.timeline-header {
  background-color: #222222;
  color: white;
  border-radius: 5px 5px 0 0;
}
.timeline-header h1 a:link {
  color: white;
}*/

/* Allies page */
body#page-allies .view h3 {
  margin: 0;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 5px;
  font-size: 1.1em;
  text-align: center;
}


/* 6.1 Messages */

/* 6.2 Admin tabs */

/* 6.3 Nodes */

/* social media links */

/* 6.4 Fields */

/* 6.5 Profiles */

/* 6.6 Comments */

/* 6.7 content formatting for specific pages */

/* 6.7.1 search form & search results page */


/**
 * 7. Sidebars
 */

.sidebar .block { margin-bottom: 2em; }

#block-webform-client-block-372 label {
  text-indent: -999em;
  height: 0;
}

/**
 * 8. Pre-footers, utility and footer
 */

/* 8.1 Prefooter 1 */

/* 8.2 Prefooter 2 */

/* 8.3 Utility */

/* 8.4 Footer */
#site-credit { background-color: #333; color: white; padding: 10px; }
#footer a { color: white; }
#footer h4 { font-weight: normal; font-size: 1.2em; margin-bottom: .4em; }
#footer img { position: relative; top: 7px; }

/**
 * 9. Media Queries
 */

/* 9.1 Larger than a Samsung galaxy phone in portrait mode */
@media screen and (min-width: 361px) {

}

/* 9.2 Larger than an iPhone in landscape mode */
@media screen and (min-width: 481px) {

}

/* 9.3 iPad in portrait mode or larger */
@media screen and (min-width: 768px) {


}

/* 9.4 full screen */
@media screen and (min-width: 992px) {

}

/* 9.5 wide screen */
@media screen and (min-width: 1200px) {

}



/**
 * 10. IE fixes
 */


